<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>{% block title %}Correrias{% endblock %}</title>
        <link rel="shortcut icon" href="../static/assets/brand/bootstrap-logo.svg" type="image/x-icon">

        <!-- Bootstrap core CSS -->
        {% block meta %} 
        {% endblock %}
        
        <!-- Custom styles for this template -->
        <link href="../static/css/reset.css" rel="stylesheet">

    </head>

    
    {% block content %}
    {% endblock %}



</html>
