<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correrias</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->

</head>
<body>
    {% if user %}
        <h1>Bem vindo ao Correrias, {{ user }}!</h1>
    {% else %}
        <h1>Bem vindo ao Correrias!</h1>
    {% endif %}

    <!-- <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> -->
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>